html{
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust:none；
	-moz-text-size-adjust:none；
	-ms-text-size-adjust:none；
	-o-text-size-adjust:none；
	text-size-adjust:none；
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	background: #47c9af;
	color: #74777b;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a:link, a：visited,a:focus{
	text-decoration: none;
	outline: none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
*:after,*：before{
	display: block;	
	content: "";
}
*:after{clear: both;}	
.nav{
	width: 800px;
	height: 300px;
	margin: 200px auto;

}
.nav li{
	display: inline-block;
	margin: 0 1em;
}
.toptip{
	display: inline-block;
	font-weight: 700;
	color:rgba(0,0,0,0.3);
	padding: 0.15em,0.25em,0;
	z-index: 999;
}
.toptip-content{
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	margin-left: -40px;
	bottom: 80%;
	padding-top: 25px;
}
.toptip-content::after{
	display: block;
	content: "";
	width: 30px;
	height: 20px;
	background:url(tooltip1.svg) no-repeat center center;
	position: absolute;
	top: 100%;
	left: 50%;
	margin:-7px 0 0 -15px; 

}
