
body{
	text-align:center;
	font-family:微软雅黑，Helvetica,Lucida ;
	margin:0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;font-size: 150%;
	text-align: center;
}

.header img{
	width: 100%;
}
.header h1{
	font-weight: 700;
	font-family:  'Montserrat', sans-serif;
}
.header-text1{
	display: none;
}
.header-text2{
	position: absolute;
	top: 200px;
	color: #fff;
	font-size: 130%;
}
.artical p{
	display: none;
}
.article1,.article2,.article3,.article4{
	
	width: 100%;
	border: 1px;
	box-shadow-bottom: 10px #a09ba5;
	margin-top: 70px;
	border:1px solid #a09ba5;
	-webkit-box-shadow:3PX 3PX 3px #a09ba5;
	-mos-box-shadow:3PX 3PX 3px #a09ba5;
	box-shadow:3PX 3PX 3px #a09ba5;
}

 .pic img{
 	width: 100%;
 	margin:0 auto;
	float: left;
}

.con1{
	display: inline-block;
	margin-top: 50px;

}
.con{
	display: inline-block;
	width:75%;
	margin-bottom: 60px; 
	padding: 0;
	border: 1px solid #520;
	border-radius: 5px;
	-webkit-box-shadow:6PX 6PX 6px #a09ba5;
	-mos-box-shadow:6PX 6PX 6px #a09ba5;
	box-shadow:6PX 6PX 6px #a09ba5;
	overflow: hidden;
}
.pic2,.pic2 img{
	width: 100%;
}


.footer{
	background-color:#233333; 
	padding: 0;
	margin-top: 100px;
	display: inline-block;
	width: 100%;font-size: 150%;
	
}
.footer .text{

	color: #fff;
	margin-top:50px;
}
.footer button{
	font-size: 150%;
	width: 50%;
	height: 60px;
	background:-webkit-linear-gradient(90deg,#dbe5e4,#669f9e);
	border-radius:5px; 
}

/*练习js部分*/
#one{width: 100%;
	position:relative;
	border: 1px solid #000;
	margin: 50px auto;
	height: 200px;
	overflow: hidden;
}
#one img,#one a{
	position: absolute;
	top: 0px;display: block;
}
#one img{z-index: 1;
	width: 100%;
	z-index: 1;
}
#one a{z-index: 2;
	text-align: left;
	width: 100%;height: 200px;
	top: 150px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
}	
