
body{
	text-align:center;
	font-family:微软雅黑，Helvetica,Lucida ;
	margin:0;
	padding: 0;
	overflow-x: hidden;
}

.header img{display: inline-block;
	width: 100%;
	background: cover;
	margin-bottom: 50px;overflow: hidden;
	overflow: hidden;
}
.header h1{
	font-weight: 800;
font-family:  'Montserrat', sans-serif;
}
.header-text1{
	position: absolute;
	margin-left: 50px;
	width:300px;
	top: 100px;
}
.header-text2{
	position: absolute;
	left:1000px;
	width: 500px;
	top: 500px;
	color: #fff;
	font-size: 130%;
}
.contener {
	margin-top: 50px;
	display: inline-block;
	width: 70%;
	border:1px solid #a09ba5;
	}
.article1,.article2,.article3,.article4{
	height:200px;
	width: 90%;
	border: 1px;
	box-shadow-bottom: 10px #a09ba5;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border:1px solid #a09ba5;
	-webkit-box-shadow:3PX 3PX 3px #a09ba5;
	-mos-box-shadow:3PX 3PX 3px #a09ba5;
	box-shadow:3PX 3PX 3px #a09ba5;
}

 .pic img{
	height: 200px;
	width: 300px;
	float: left;
}

.con1{
	display: inline-block;
	margin-top: 50px;

}
.con{
	width:300px;
	margin:0 20px 0 20px;
	float: left;
	padding: 0;
	border: 1px solid #520;
	border-radius: 5px;
	-webkit-box-shadow:3PX 3PX 3px #a09ba5;
	-mos-box-shadow:3PX 3PX 3px #a09ba5;
	box-shadow:3PX 3PX 3px #a09ba5;
	overflow: hidden;
}
.con:hover{
	-webkit-box-shadow:7PX 5PX 5px #a09ba5;
	-mos-box-shadow:7PX 5PX 5px #a09ba5;
	box-shadow:7PX 5PX 5px #a09ba5;
}

.pic2,.pic2 img{
	height: 200px;
	width: 300px;
}


.footer{
	padding: 0;
	margin-top: 100px;
	display: inline-block;
	width: 100%;
	height: 250px;
	background-color:#233333; 
}
.footer .text{
	color: #fff;
	margin-top:50px;
}
.footer button{
	width: 100px;
	height: 40px;
	background:-webkit-linear-gradient(90deg,#dbe5e4,#669f9e);
	border-radius:5px; 
}

/*练习js部分*/
#one{width: 300px;
	position:relative;
	border: 1px solid #000;
	margin: 50px auto;
	height: 200px;
	overflow: hidden;
}
#one img,#one a{
	position: absolute;
	top: 0px;display: block;
}
#one img{z-index: 1;
	width: 300px;
	z-index: 1;
}
#one a{z-index: 2;
	text-align: left;
	width: 300px;height: 200px;
	top: 150px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
}	
